* {
    padding: 0;
    margin: 0;
    font-family: "GSK", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    user-select: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    animation: bouncein 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
}

html,
body {
    height: 100%;
    width: 100%;
    background: #f0efed;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow-y: hidden;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    line-height: 1.5;
    position: relative;
    isolation: isolate;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

.bodyContent,
.container__box {
    width: 100%;
}

#bodyCasontent .header + .bodyContent {
    height: calc(100% - 14px - 76px - 20px);
}

#bodyCasontent .header.hide + .bodyContent {
    height: calc(100% - 14px);
}

input:focus {
    outline: 0;
}

button {
    cursor: pointer;
}

.hide {
    display: none !important;
}

.pointernone {
    pointer-events: none;
}

.highlight {
    color: #f36633 !important;
}

.nohighlight {
    color: #151515 !important;
}

.cta {
    color: #f36633 !important;
    cursor: pointer;
    display: inline-block;
}

.cursor {
    cursor: pointer;
}

.borderBottom {
    border-bottom: 0.5px solid #e6e6e6;
}

img,
svg {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#loading {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid #f4000b;
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

#simpleToast {
    visibility: hidden;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px 32px;
    position: fixed;
    z-index: 1;
    bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
}

#simpleToast span {
    font-size: 12px;
}

#simpleToast.show {
    visibility: visible;
    -webkit-animation: comein 0.5s, goin 0.5s 2.5s;
    animation: comein 0.5s, goin 0.5s 2.5s;
}

@-webkit-keyframes comein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 60px;
        opacity: 1;
    }
}

@keyframes comein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 60px;
        opacity: 1;
    }
}

@-webkit-keyframes bouncein {
    0% {
        opacity: 0;
        transform: translate3d(10px, 0, 0);
    }
    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}

@keyframes bouncein {
    0% {
        opacity: 0;
        transform: translate3d(10px, 0, 0);
    }
    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}

@-webkit-keyframes goin {
    from {
        bottom: 60px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes goin {
    from {
        bottom: 60px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

input[id$="tbDate"] {
    border: none;
    background: transparent;
    outline: 0;
    display: inline;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #151515;
    padding: 6px 0;
}

.tableLayout {
    display: flex;
    flex-flow: column;
    width: 100%;
    max-height: 300px;
}

.tableLayoutBody {
    flex: 1 1 auto;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.name {
    font-size: 15px;
    font-weight: 500;
    color: #151515;
}

thead .info_row .info_data {
    font-weight: 500;
}

.info_data,
.info_data > input {
    font-size: 13px;
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.light-colored {
    color: #959595;
}

.mCSB_inside>.mCSB_container {
    margin-right: 0px !important;
}


#snack {
    /* opacity: 0; */
    /* width: 300px; */
    height: 54px;
}

.snackbar {
    width: 300px;
    height: 54px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(124, 130, 141, 0.2);
    transition: transform 0.6s ease-out;
    position: fixed;
    z-index: 100;
    right: 10px;
    bottom: 0px;
    transform: translateY(90px);
  }

  .snackbar.isShown {
    transform: translateY(-30px);
  }

  .snackbar-icon {
    max-width: 60px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }

  .snackbar-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 70px;
    font-size: 12px;
  }

  .snackbar-text-heading {
    color: #292d34;
    font-size: 16px;
    font-weight: 900;
  }

  .snackbar-close-btn {
    position: absolute;
    top: 50%;
    left: calc(100% - 10px);
    transform: translate(-100%, -50%);
    cursor: pointer;
  }

  #ui-datepicker-div {
    z-index: 999 !important;
  }