/* Order Card Start */
.profile_setting_card {
    margin: 0px 20px 0px 20px;
    display: none;
    position: relative;
    animation: unset;
}

.profile_setting_card.active > .order_card.menu {
    /* position: fixed; */
    top: 64px;
    /* width: calc(100% - 40px); */
    width: calc(100% - 0px);
    z-index: 19;
    margin-top: 16px;
}

.order_card {
    background: #ffffff;
    border: 1px solid #959595;
    box-shadow: 0px 3px 12px rgba(84, 79, 64, 0.1);
    border-radius: 5px;
    padding: 14px 0;
    margin-bottom: 20px;
}

.order_card .title,
.progress_plan .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
    padding: 0 16px;
}

.order_card .info,
.order_card .title .name {
    cursor: pointer;
}

.order_card.menu .title .name {
    font-weight: 500;
    font-size: 14px;
}

.order_card.menu .title .name:hover {
    font-weight: 700;
}

.order_card.menu .title .info.cta {
    padding: 0px;
}

.order_card.menu .info.cta:hover {
    font-weight: 700;
}

.order_card .title .name,
.progress_plan .title .name {
    font-weight: 700;
    font-size: 14px;
}

.order_card .title .arrow img {
    height: 10px;
    width: 10px;
}

.order_card .title .arrow.edit img {
    height: 15px;
    width: 20px;
    cursor: pointer;
}

.order_card .info {
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: #151515;
    padding: 0 16px;
}

.profile_setting_card.active .order_card .info::before {
    content: '>';
    margin-right: 10px;
    font-weight: 600;
}

.order_card .info.outer {
    padding: 0 20px;
}

.order_card .info.outer .success {
    color: #008a00;
    background: transparent;
}

.order_card .info.outer .warning {
    color: #efaa4b;
    background: transparent;
}

.order_card .info.outer .failed {
    color: #f23904;
    background: transparent;
}
/* Order Card End */

.date-picker-value.date_order {
    margin-bottom: 12px;
}

.date-picker-value.date_order + .flex.title {
    font-size: 13px;
    line-height: 20px;
    color: #151515;
    margin-bottom: 12px;
}

.calendar-picker {
    justify-content: unset;
    margin-top: 12px;
    position: relative;
    display: inline-block;
}

.calendar-picker .picker {
    height: 15px;
    width: 20px;

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
    z-index: 1;
}

.calendar-picker .picker + .input_date_picker {
    font-size: 14px;
    margin: 0 0.75rem 0 1.5rem;
}

.calendar-picker input {
    width: 6.5rem;
    /* margin: 0 0.25rem 0 1.5rem; */
    padding: 6px 0.25rem 6px 1.5rem;
    cursor: pointer;
    z-index: 2;
    position: relative;
}

.icon .arrow-down {
    height: 10px;
    width: 10px;
}

.calendar-picker .arrow-down {
    height: 10px;
    width: 10px;

    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
    z-index: 1;
}

.title.backbtn {
    margin-bottom: 22px;
}

.title.backbtn + .card_click .flex .order_status:nth-child(2) {
    display: none;
}

.title.backbtn.hide + .card_click .flex .order_status:nth-child(2) {
    display: block;
}

.title.backbtn.hide + .card_click .flex .order_on_date {
    display: none;
}

.title.backbtn + .card_click .flex .order_on_date .info:first-child {
    font-weight: 500;
}

.title.backbtn.hide + .card_click .flex .order_status .info:first-child {
    font-weight: 400;
}

.title.backbtn + .card_click .flex .order_status .info:first-child {
    font-weight: 500;
}

.title.backbtn.hide + .card_click .title .arrow {
    display: block;
}

.title.backbtn + .card_click .title .arrow{
    display: none;
}

.title.backbtn.hide + .card_click + .order_cart.history > .title {
    border-top: none;
    padding-top: none;
    width: unset;
    margin-left: unset;
    margin-right: unset;
}


.title.backbtn + .card_click + .order_cart.history > .title {
    border-top: 1px solid #E6E6E6;
    padding-top: 12px;
    padding-left: 0;
    width: calc(100% - 32px);
    margin-left: auto;
    margin-right: auto;
}

.empty_screen_msg {
    font-weight: 400;
    font-size: 16px;
    color: #959595;
    margin: 25px 0 -15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.order_card.history .history_card_click.close .status_bar_bordered .order_on_date {
    display: none;
}

.order_card.history .history_card_click .status_bar_bordered .order_on_date {
    display: block;
}