/* Terms of use Start */
.termsofuse {
    height: 100%;
    width: 100%;
}

.termsofuse .main_content {
    /* height: calc(75% - 40px); */
    height: calc(95% - 40px);
    width: 100%;
}

.termsofuse .heading {
    color: #151515;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    margin: 20px 0;
    padding: 0 20px;
}

.termsofuse .termsofuse_content {
    font-size: 12px;
    color: #151515;
    line-height: 18px;
    height: 90%;
    overflow-y: scroll;
}

.termsofuse .termsofuse_content .block {
    margin: 10px 0;
    padding: 0 20px;
}

.termsofuse .termsofuse_content .block .title {
    font-weight: 600;
    margin-bottom: 10px;
}

.termsofuse .termsofuse_content .block .detail {
    font-weight: 400;
    margin-bottom: 15px;
}

.bottom .btn_wrapper {
    height: 25%;
    position: relative;
}

.bottom .btn_wrapper.disabled .place_order.checkout .btn {
    color: #fff;
    pointer-events: none;
    background-color: #959595;
    border: 1.5px solid #959595;
}

.bottom .btn_wrapper .btnbox {
    position: absolute;
    bottom: 30px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.bottom .btn_wrapper .btnbox .place_new_order {
    text-decoration: none;
}

.bottom .btn_wrapper .btnbox .btn {
    padding: 12px 20px;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
    margin: auto 9px;
    border: 1.5px solid #f36633;
    text-decoration: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /* box-shadow: 2.5px 2.5px 0px 0px #b7b6b4; */
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.bottom .btn_wrapper .btnbox .btn .icon {
    margin-right: 10px;
}

.bottom .btn_wrapper .btnbox .btn.outline {
    background: #fff;
    color: #f36633;
}

.bottom .btn_wrapper .btnbox .btn.solid {
    color: #fff;
    background: #f36633;
}
/* Terms of use End */