/* General Welcome UI Start */
.content__box .splash_screen {
    height: 100%;
    width: 100%;
}

.content__box .splash_screen .branding {
    height: 75%;
    /* background: url("/gsk/assets/images/svg/banner.svg"); */
    /* background: url("https://cdn.yellowmessenger.com/xcp1wyrVSFih1668751719553.jpg"); */
    /* for master staging */
    /* background: url("https://cdn.yellowmessenger.com/VvJMNjM6UJwG1673342227666.jpg"); */
    /* background: url("https://cdn.yellowmessenger.com/4pWB5rsEVHjm1674558676748.jpg"); */
    background: url("https://cdn.yellowmessenger.com/2KbxeyJkkH2W1678677899882.jpg");
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: cover;
    /* background-position: 0px -35px; */
}

.content__box .splash_screen .branding .branding_info {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content__box .splash_screen .branding .branding_info .icon_wrapper {
    width: 170px;
    height: 52px;
    margin-bottom: 38px;
}

.content__box .splash_screen .branding .branding_info .icon_wrapper img {
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.content__box .splash_screen .branding .branding_info .branding_msg {
    font-weight: 700;
    font-size: 28px;
    line-height: 22px;
    color: #f26633;
    margin-bottom: 12px;
}

.content__box .splash_screen .branding .branding_info .sub_info {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #151515;
}

.content__box .splash_screen .legal_tnc {
    height: 25%;
    width: 100%;
    font-size: 12px;
    color: #959595;
    background-color: #f0efed;
    padding: 30px;
}

.content__box .splash_screen .legal_tnc .legal_tnc_title {
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 10px;
}

.content__box .splash_screen .legal_tnc .legal_tnc_body {
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 10px;
}

.content__box .splash_screen .legal_tnc .legal_tnc_body a {
    color: #0000EE;
    text-decoration: underline;
}

.content__box .splash_screen .legal_tnc .readmore {
    color: #f26633;
    font-weight: 700;
}

/* General Welcome UI End */